name: "[daily] 3x"
# Category/nulledit.js
# File/info.js

on:
  schedule:
    - cron: "35 18,6,13 * * *" # 2:35, 14:35, 21:35 CST
  workflow_dispatch:
    inputs:
      task:
        description: "Select the task to run"
        type: choice
        required: true
        options:
          - nulledit-in-category
          - file-info

env:
  MOEGIRL_API_USER_AGENT: ${{ secrets.MOEGIRL_API_USER_AGENT }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  nulledit-in-category:
    needs: file-info
    if: |
      github.event_name == 'schedule'  &&  needs.file-info.result == 'success' ||
      github.event.inputs.task == 'nulledit-in-category'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set Node Version
        uses: actions/setup-node@v5
        with:
          node-version: 24.x
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run Script
        env:
          ZH_BOT: ${{ secrets.ZH_BOT }}
          CM_BOT: ${{ secrets.CM_BOT }}
        run: node src/Category/nulledit.js

  file-info:
    if: |
      github.event_name == 'schedule' ||
      github.event.inputs.task == 'file-info'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set Node Version
        uses: actions/setup-node@v5
        with:
          node-version: 24.x
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run Script
        env:
          ZH_BOT: ${{ secrets.ZH_BOT }}
          CM_BOT: ${{ secrets.CM_BOT }}
        run: node src/File/info.js
