name: "[schedule] 6x/daily"
# invisibleCharacter.js
# fileInfo.js

on:
  schedule:
    - cron: "35 18,23,4,8,12,15 * * *"
    # 2:35, 7:35, 12:35, 16:35, 20:35, 23:35 CST
  workflow_dispatch:
    inputs:
      task:
        type: choice
        required: true
        default: "none"
        options:
          - "none"
          - "invisible-character"
          - "file-info"
      group:
        type: choice
        required: true
        default: "none"
        options:
          - "none"
          - "all"

env:
  MOEGIRL_API_USER_AGENT: ${{ secrets.MOEGIRL_API_USER_AGENT }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  invisible-character:
    if: |
      github.event_name == 'schedule' ||
      github.event.inputs.task == 'invisible-character' ||
      github.event.inputs.group == 'all'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Node Version
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Run Script
        env:
          ZH_BOT: ${{ secrets.ZH_BOT }}
        run: node src/invisibleCharacter.js

  file-info:
    if: |
      github.event_name == 'schedule' ||
      github.event.inputs.task == 'file-info' ||
      github.event.inputs.group == 'all'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Node Version
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Run Script
        env:
          ZH_BOT: ${{ secrets.ZH_BOT }}
          CM_BOT: ${{ secrets.CM_BOT }}
        run: node src/fileInfo.js
