name: "[schedule] Category"
# src/Category/fixRedirect.js - 1x evening.yaml
# src/Category/nulledit.js - 3x daily.yaml

on:
  schedule:
    - cron: "35 4 * * 6" # Saturday 12:35 CST
  workflow_dispatch:
    inputs:
      task:
        description: 'Select the task to run'
        type: choice
        required: true
        options:
          - add-category-redirect

env:
  MOEGIRL_API_USER_AGENT: ${{ secrets.MOEGIRL_API_USER_AGENT }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  add-category-redirect:
    if: |
      github.event_name == 'schedule' || 
      github.event.inputs.task == 'add-category-redirect'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set Node Version
        uses: actions/setup-node@v5
        with:
          node-version: 24.x
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run Script
        env:
          ZH_BOT: ${{ secrets.ZH_BOT }}
          CM_BOT: ${{ secrets.CM_BOT }}
        run: node src/Category/redirectTemplate.js
