name: "[manually]"

on:
  workflow_dispatch:
    inputs:
      task:
        type: choice
        required: true
        default: "none"
        options:
          - "none"
          - "test"
          - "deletion"
          - "revoke-user"
          - "batch-undelete"
          - "news-sender"
      site:
        type: choice
        required: false
        default: "all"
        options:
          - "zh"
          - "cm"
          - "all"
      number:
        type: choice
        required: false
        default: "0"
        options:
          - "0"
          - "1"
          - "2"

env:
  MOEGIRL_API_USER_AGENT: ${{ secrets.MOEGIRL_API_USER_AGENT }}

jobs:
  test:
    if: |
      github.event.inputs.task == 'test'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Node Version
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Run Script
        env:
          ZH_BOT: ${{ secrets.ZH_BOT }}
        run: node src/botTest.js

  zh-deletion:
    if: |
      github.event.inputs.task == 'deletion' &&
      (github.event.inputs.site == 'zh' || github.event.inputs.site == 'all')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Node Version
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Run delete.js
        env:
          SITE: "zh"
          ZH_MAIN: ${{ secrets.ZH_MAIN }}
        run: node src/delete.js

  cm-deletion:
    if: |
      github.event.inputs.task == 'deletion' &&
      (github.event.inputs.site == 'cm' || github.event.inputs.site == 'all')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Node Version
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Run delete.js
        env:
          SITE: "cm"
          CM_MAIN: ${{ secrets.CM_MAIN }}
        run: node src/delete.js

  revoke-user:
    if: |
      github.event.inputs.task == 'revoke-user'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Node Version
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Run revokeUser.js
        env:
          GHP: ${{ secrets.GHP }}
          MOEGIRL_PASSWORD: ${{ secrets.MOEGIRL_PASSWORD }}
        run: node src/revokeUser.js

  batch-undelete:
    if: |
      github.event.inputs.task == 'batch-undelete' &&
      (github.event.inputs.site == 'zh' || github.event.inputs.site == 'cm')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Node Version
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Run batchUndelete.js
        env:
          SITE: ${{ github.event.inputs.site }}
          ZH_ABOT: ${{ secrets.ZH_ABOT }}
          CM_ABOT: ${{ secrets.CM_ABOT }}
        run: node src/batchUndelete.js

  news-sender:
    if: |
      github.event.inputs.task == 'news-sender'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Node Version
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Run newsSender.js
        env:
          TYPE: ${{ github.event.inputs.number }}
          ZH_BOT: ${{ secrets.ZH_BOT }}
        run: node src/newsSender.js
