name: "[schedule] Navbox"

on:
  schedule:
    - cron: "35 7 4 * *" # 4th 15:35 CST
  workflow_dispatch:
    inputs:
      task:
        type: choice
        required: true
        options:
          - "fix-name"

env:
  MOEGIRL_API_USER_AGENT: ${{ secrets.MOEGIRL_API_USER_AGENT }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  fix-name:
    runs-on: ubuntu-latest
    if: |
      github.event.schedule == '35 7 4 * *' ||
      github.event.inputs.task == 'fix-name'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Node Version
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Run Script
        env:
          ZH_IBOT: ${{ secrets.ZH_IBOT }}
        run: node src/Navbox/fixName.js